@{
    ViewData["Title"] = "Logout Complete";
}

<div class="container mt-4">
    <h1>You have been logged out</h1>
    <div class="alert alert-success">
        <p>You have been successfully logged out from MDIGI-I Hub.</p>
    </div>
</div>